@tailwind base;

@font-face {
  font-family: "cabin_bold";
  src: url("Cabin-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_black";
  src: url("NunitoSans-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_black_italic";
  src: url("NunitoSans-BlackItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_bold";
  src: url("NunitoSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_bold_italic";
  src: url("NunitoSans-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extrabold";
  src: url("NunitoSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extrabold_italic";
  src: url("NunitoSans-ExtraBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extralight";
  src: url("NunitoSans-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extralight_italic";
  src: url("NunitoSans-ExtraLightItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_italic";
  src: url("NunitoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_light";
  src: url("NunitoSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_light_italic";
  src: url("NunitoSans-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_regular";
  src: url("NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_semibold";
  src: url("NunitoSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_semibold_italic";
  src: url("NunitoSans-SemiBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@tailwind components;

 .toggle-checkbox:checked {
     @apply: right-0 border-green-600;
     right: 0;
     border-color: #43A047;
 }

 .toggle-checkbox:checked+.toggle-label {
     @apply: bg-green-600;
     background-color: #43A047;
 }

 .button {
     @apply bg-blue-900 hover:bg-blue-500 text-white font-bold py-2 px-8 rounded cursor-pointer;
 }

 .link {
     @apply text-blue-900 hover:text-blue-500 cursor-pointer;
 }

 .heading {
   @apply text-3xl font-nunito_bold text-blue-900;
 }

.tooltip .tooltip-text {
    @apply invisible px-4 py-1 absolute z-50 inline-block -ml-4 -mt-8 text-sm rounded bg-gray-300 text-black;
}

.tooltip:hover .tooltip-text {
    @apply visible;
}

@tailwind utilities;
